:root {
	--mainColor: red;
};

/* autoprefixer */

.autoprefixer {
	display: flex;
}

/* cssnext */

.cssnext {
	background: color(red alpha(-10%));
}

/* precss */

.precss {
	@if 1 < 2 {
		background: green;
	}
	@else {
		background: blue;
	}
}

body {
	display: flex;
	border-radius: 50%;
	transform: translateX(10px);
	background: var(--mainColor);
	color: color(red alpha(-10%));
}